@model Product[]

@model Product

@{
    ViewBag.Title = "Product Name";
}

    <div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel">
        <p>Product Name: @Model.Name</p>
        <p>Product Price: @($"{Model.Price:C2}")</p>
        <p>Stock Level: @ViewBag.StockLevel</p>
        <p>
            Stock Level:
            @switch (ViewBag.StockLevel)
            {
                case 0:
                    @:Out of stock
                    break;
                case 1:
                case 2:
                case 3:
                    <b>Low stock, only @ViewBag.StockLevel left</b>
                    break;
                default:
                    @: @ViewBag.StockLevel in stock
                    break;
            }
        </p>

        <p>
            Stock Level:
            @if (@ViewBag.StockLevel == 0)
            {
                @: Out of stock
            }
            else if (@ViewBag.StockLevel > 0 && @ViewBag.StockLevel <= 3)
            {
                <b>Low stock @ViewBag.StockLevel</b>
            }
            else
            {
                @: @ViewBag.StockLevel in stock
            }
        </p>

    </div>



<table>
    <thead>
        <tr><th>Name</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@($"{p.Price:C2}")</td>
            </tr>
        }
    </tbody>
</table>
